body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  display: flex;
  min-height: 94vh;
  justify-content: center;
  align-items: center;
  background-color: #2d3436;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 20px;
  text-align: center;
  font-size: 44px;
  color: #fdcb6e;
}

.square {
  background-color: transparent; 
  border: 5px solid #74b9ff;
  float: left;
  font-size: 120px;
  font-weight: bold;
  line-height: 200px;
  height: 200px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 200px;
  color: #55efc4;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}